
<p>Short-term goal : <%= @short_goal.goal %> by <%= @short_goal.scheduled_date %></p>

<p>Location: <%= @short_goal.location %></p>
<p>To get closer to <%= @short_goal.long_goal.goal.downcase %>!</p>
